<h1 class="mb-4">Valūtu kursi</h1>
<div *ngIf="!loading" class="mb-4">
	<table class="table table-striped" >
		<thead>
		  <tr>
		    <th scope="col">Valūta</th>
		    <th scope="col">Kurss</th>
		    <th scope="col">Datums</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let singleCurreency of currencies | paginate: { itemsPerPage: 20, currentPage: p }; let i = index">
		    <td><a href="/currency/{{singleCurreency.name | lowercase}}">{{singleCurreency.name}}</a></td>
		    <td>{{singleCurreency.value}}</td>
		    <td>{{singleCurreency.date}}</td>
		  </tr>
		</tbody>
	</table>
	<div class="d-flex justify-content-center" *ngIf="totalItems>20">
		<pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
	</div>
</div>
<div class="d-flex justify-content-center" *ngIf="loading">
	<div class="spinner-border" role="status"></div>
</div>